@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, div, hr {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

img, fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
}

input, a {
  outline: none;
}

header {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
header #top {
  width: 1200px;
  height: 30px;
}
header #top .left {
  width: 900px;
  height: 30px;
  float: left;
  position: relative;
}
header #top .left li {
  float: left;
  height: 30px;
  line-height: 30px;
}
header #top .left li a {
  font-size: 12px;
  color: #aca4b7;
  padding: 0px 8px 0px 7px;
  border-right: 1px solid #e4e4e4;
}
header #top .left li a:hover {
  color: red;
}
header #top .left li .ts1 {
  padding: 0px 8px 0px 0px;
}
header #top .left li .ts2 {
  padding: 0px 20px 0px 7px;
}
header #top .left li .ts3 {
  padding: 0px 20px 0px 7px;
}
header #top .left .li1 {
  position: relative;
  z-index: 19;
}
header #top .left .li1 i {
  border-top: 6px solid #999;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  position: absolute;
  top: 12px;
  right: 5px;
}
header #top .left #QRcode {
  width: 164px;
  height: 140px;
  border: 1px solid #ededed;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: 28px;
  left: 437px;
  z-index: 9;
  display: none;
}
header #top .left #QRcode strong {
  display: block;
  width: 76px;
  height: 76px;
  margin: 20px auto 10px;
  background: url(../img/QRcode.png) no-repeat center/cover;
}
header #top .left #QRcode p {
  font-size: 12px;
  text-align: center;
  color: red;
}
header #top .left #QRcode p .ts0 {
  color: black;
  border: 0;
}
header #top .left .li2 {
  position: relative;
  z-index: 19;
}
header #top .left .li2 em {
  border-top: 6px solid #999;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  position: absolute;
  top: 12px;
  right: 5px;
}
header #top .left .li2 .ts3 {
  border-right: 0;
}
header #top .left .menu {
  width: 164px;
  height: 148px;
  border: 1px solid #ededed;
  background: #fff;
  position: absolute;
  top: 29px;
  left: 513px;
  z-index: 9;
  display: none;
}
header #top .left .menu li {
  width: 164px;
  height: 30px;
  text-align: center;
}
header #top .left .menu li a {
  line-height: 30px;
  font-size: 12px;
  color: #000;
  border-right: 0;
}
header #top .left .menu li a:hover {
  color: red;
}
header #top .right {
  width: 234px;
  height: 30px;
  float: right;
  position: relative;
}
header #top .right li {
  float: left;
  height: 30px;
  line-height: 30px;
}
header #top .right li a {
  font-size: 12px;
  color: #aca4b7;
  padding: 0px 8px 0px 7px;
}
header #top .right li a:hover {
  color: red;
}
header #top .right li .ts3 {
  border-right: 1px solid #e4e4e4;
}
header #top .right li .ts4 {
  border-right: 1px solid #e4e4e4;
}
header #top .right .ts1 {
  position: relative;
  z-index: 19;
}
header #top .right .ts2 {
  width: 462px;
  height: 234px;
  border: 1px solid #e4e4e4;
  position: absolute;
  right: 12px;
  top: 29px;
  background: #fff;
  z-index: 9;
  overflow: hidden;
  display: none;
}
header #top .right .ts2 .yuan {
  width: 102px;
  height: 102px;
  background: #f5f4f5 url(../img/未标题-1.jpg) no-repeat 22px 26px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 180px;
  margin-bottom: 16px;
}
header #top .right .ts2 p {
  font-size: 12px;
  color: #a4a4a4;
  text-align: center;
}
header #bottom {
  width: 1200px;
  height: 70px;
  position: relative;
}
header #bottom h1 {
  float: left;
}
header #bottom h1 a {
  display: block;
  width: 173px;
  height: 70px;
  background: url(../img/logo.png) no-repeat left center;
}
header #bottom ul {
  float: left;
  height: 70px;
  margin-left: 98px;
}
header #bottom ul li {
  float: left;
  height: 70px;
  padding: 0 11px 0 11px;
}
header #bottom ul li a {
  font-size: 16px;
  color: #3a3a3a;
  padding: 10px 0 10px 0;
  line-height: 70px;
}
header #bottom ul li a:hover {
  border-bottom: 2px solid #ca141d;
  color: #ca141d;
}
header #bottom input {
  float: right;
  width: 330px;
  height: 32px;
  margin-top: 18px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  text-indent: 10px;
}
header #bottom i {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../img/精灵图.png) no-repeat 0 -28px;
  position: absolute;
  right: 13px;
  top: 27px;
}
header #bottom #pox {
  width: 142px;
  height: 32px;
  margin-top: 18px;
  position: absolute;
  top: 2px;
  right: 176px;
}
header #bottom #pox a {
  background: #f5f5f5;
  color: #aba4a4;
  font-size: 12px;
  line-height: 32px;
  padding: 4px;
}
header #bottom #pox .ts {
  margin-right: 8px;
}

#main {
  width: 1200px;
  height: 782px;
  border: 1px solid red;
  margin: 0 auto;
  position: relative;
}
#main h2 {
  width: 454px;
  height: 40px;
  overflow: hidden;
}
#main h2 a {
  float: left;
  color: #8F5902;
  margin-top: 14px;
  font-size: 12px;
}
#main h2 a:hover {
  color: #000;
}
#main h2 span {
  float: left;
  color: #000;
  margin-top: 14px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 12px;
}
#main h2 p {
  font-size: 12px;
  margin-top: 14px;
  margin-left: 170px;
}
#main .phone {
  width: 454px;
  height: 451px;
  position: relative;
}
#main .phone img {
  width: 454px;
  height: 451px;
}
#main .phone .mask {
  width: 454px;
  height: 451px;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
#main .phone .float {
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}
#main .glass {
  width: 400px;
  height: 400px;
  border: 1px solid #C0C0C0;
  position: absolute;
  background: #fff;
  z-index: 10;
  top: 40px;
  left: 468px;
  overflow: hidden;
  display: none;
}
#main .glass img {
  position: absolute;
  z-index: 15;
}
#main .right {
  position: absolute;
  right: 0;
  top: 40px;
  width: 701px;
  height: 741px;
  border: 1px solid blue;
}
#main .right .top {
  width: 565px;
  height: 93px;
}
#main .right .top h2 {
  width: 459px;
  height: 32px;
  color: #3a3a3a;
  line-height: 32px;
  font-size: 16px;
}
#main .right .top a {
  text-decoration: underline;
  color: red;
  font-size: 12px;
  text-indent: 8px;
}
#main .right .top span {
  font-size: 12px;
}
#main .right .tu {
  width: 701px;
  height: 176px;
  background: url(../img/tu1.jpg);
}
#main .right .fuwu {
  width: 700px;
  height: 71px;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
#main .right .fuwu h2 {
  height: 28px;
  overflow: hidden;
  margin-top: 15px;
}
#main .right .fuwu h2 p {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 16px;
  font-size: 12px;
}
#main .right .fuwu h2 span {
  float: left;
  margin-top: 8px;
  margin-right: 35px;
  font-size: 12px;
}
#main .right .fuwu h2 i {
  float: left;
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
}
#main .right .fuwu h3 {
  height: 28px;
  overflow: hidden;
}
#main .right .fuwu h3 p {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 28px;
  font-size: 12px;
}
#main .right .fuwu h3 span {
  float: left;
  margin-top: 8px;
  margin-right: 26px;
  font-size: 12px;
}
#main .right .bottom {
  height: 400px;
}
#main .right .bottom h6 {
  height: 42px;
  width: 700px;
  overflow: hidden;
}
#main .right .bottom h6 p {
  float: left;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 26px;
  font-size: 12px;
}
#main .right .bottom h6 span {
  float: left;
  width: 98px;
  height: 38px;
  border: 1px solid #a4a4a4;
  margin-top: 1px;
  margin-right: 10px;
  font-size: 12px;
  text-indent: 48px;
  line-height: 38px;
  background: url(../img/极光蓝.jpg) no-repeat center/cover;
}
#main .right .bottom h5 {
  height: 42px;
  width: 700px;
  overflow: hidden;
}
#main .right .bottom h5 p {
  float: left;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 26px;
  font-size: 12px;
}
#main .right .bottom h5 span {
  float: left;
  width: 98px;
  height: 38px;
  margin-top: 1px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 38px;
}
#main .right .bottom h4 {
  height: 42px;
  width: 700px;
  overflow: hidden;
}
#main .right .bottom h4 p {
  float: left;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 26px;
  font-size: 12px;
}
#main .right .bottom h4 span {
  float: left;
  width: 159px;
  height: 38px;
  border: 1px solid #a4a4a4;
  margin-top: 1px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 38px;
}
#main .right .bottom h3 {
  height: 42px;
  width: 700px;
  overflow: hidden;
}
#main .right .bottom h3 p {
  float: left;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 26px;
  font-size: 12px;
}
#main .right .bottom h3 span {
  float: left;
  height: 38px;
  margin-top: 2px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 38px;
}
#main .right .bottom .h2 {
  width: 700px;
  height: 46px;
}
#main .right .bottom .h2 p {
  float: left;
  width: 66px;
  height: 46px;
  margin-left: 10px;
  margin-right: 26px;
  font-size: 16px;
  text-indent: 19px;
  line-height: 46px;
  position: relative;
  border: 1px solid #d6d6d6;
}
#main .right .bottom .h2 p i {
  display: block;
  width: 21px;
  height: 21px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  line-height: 21px;
  text-indent: 4px;
  font-style: normal;
  position: absolute;
  font-weight: 900;
  top: 0;
  right: 0;
}
#main .right .bottom .h2 p em {
  display: block;
  width: 21px;
  height: 21px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  line-height: 21px;
  text-indent: 4px;
  font-weight: 900;
  font-style: normal;
  position: absolute;
  bottom: 0;
  right: 0;
}
#main .right .bottom .h2 input {
  float: left;
  width: 171px;
  height: 46px;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 46px;
}
#main .right .bottom .h2 .ts1 {
  margin-left: -20px;
  background: #fc600c;
}
#main .right .bottom .h2 .ts2 {
  margin-left: -20px;
  background: #ca151d;
}
#main .lb {
  width: 454px;
  height: 105px;
  border: 1px solid yellow;
  position: absolute;
  top: 491px;
  left: 0;
  overflow: hidden;
}
#main .lb ul {
  width: 660px;
  height: 68px;
  margin-top: 17px;
}
#main .lb ul .leftbtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #C0C0C0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #6C6C6C;
  position: absolute;
  left: 0;
  top: 37px;
}
#main .lb ul .rightbtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #C0C0C0;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #6C6C6C;
  position: absolute;
  right: 0;
  top: 37px;
}
#main .lb ul li {
  float: left;
  width: 66px;
  height: 66px;
  border: 1px solid red;
  margin-left: 10px;
}
#main .lb ul .ts1 {
  margin-left: 40px;
}

/*# sourceMappingURL=detali.css.map */
