@charset "utf-8";

//重置样式
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,div,hr{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}


//---------------------------------------------header---------------------#top
header{
    width:1200px;
    height: 100px;
    margin: 0 auto;
    #top{
        width: 1200px;
        height: 30px;
        .left{
            width:900px;
            height: 30px;
            float: left;
            position: relative;

            li{
                float: left;
                height: 30px;
                line-height: 30px;

                a{
                    font-size: 12px;
                    color: #aca4b7;
                    padding: 0px 8px 0px 7px;
                    border-right: 1px solid #e4e4e4;
                    &:hover{color: red;}
                }
                .ts1{padding: 0px 8px 0px 0px;}
                .ts2{padding: 0px 20px 0px 7px;}
                .ts3{padding: 0px 20px 0px 7px;}
            }
            .li1{
                position:relative;
                z-index: 19;
                i{
                    border-top: 6px solid #999;
                    border-right: 6px solid #fff;
                    border-bottom:6px solid #fff ;
                    border-left: 6px solid #fff;
                    position: absolute;
                    top: 12px;
                    right:5px;
                }
            }
            #QRcode{
                width:164px;
                height:140px;
                border:1px solid #ededed;
                background:#fff;
                overflow: hidden;
                position:absolute;
                top:28px;
                left:437px;
                z-index:9;
                display:none;
                strong{
                    display:block;
                    width:76px;
                    height:76px;
                    margin:20px auto 10px;
                    background:url(../img/QRcode.png) no-repeat center/cover;
                }
                p{
                    font-size:12px;
                    text-align:center;
                    color: red;
                    .ts0{
                        color: black;
                        border:0;
                    }
                }
            }
            .li2{
                position: relative;
                z-index: 19;
                em{
                    border-top: 6px solid #999;
                    border-right: 6px solid #fff;
                    border-bottom:6px solid #fff ;
                    border-left: 6px solid #fff;
                    position: absolute;
                    top: 12px;
                    right:5px;
                }
                .ts3{border-right:0;}
            }
            .menu{
                width:164px;
                height:148px;
                border:1px solid #ededed;
                background:#fff;
                position:absolute;
                top:29px;
                left:513px;
                z-index:9;
                display:none;
                li{
                    width:164px;
                    height:30px;
                    text-align:center;
                    a{
                       line-height:30px;
                       font-size:12px;
                       color:#000;
                       border-right: 0;
                       &:hover{color: red;}
                    }
                    
                }
            }
        }
        .right{
            width: 234px;
            height:30px ;
            float: right;
            position: relative;
            li{
                float: left;
                height: 30px;
                line-height: 30px;
                a{
                    font-size: 12px;
                    color: #aca4b7;
                    padding: 0px 8px 0px 7px;
                    &:hover{color: red;}
                }
                .ts3{border-right: 1px solid #e4e4e4;}
                .ts4{border-right: 1px solid #e4e4e4;}
            }
            .ts1{
                position: relative;
                z-index: 19;
            }
            .ts2{
                width:462px;
                height:234px;
                border:1px solid #e4e4e4;
                position:absolute;
                right:12px;
                top:29px;
                background:#fff;
                z-index:9;
                overflow:hidden;
                display:none;
                .yuan{
                    width:102px;
                    height:102px;
                    background:#f5f4f5 url(../img/未标题-1.jpg) no-repeat 22px 26px;
                    border-radius:50%;
                    margin-top:50px;
                    margin-left:180px;
                    margin-bottom:16px;
                }
                p{
                    font-size:12px;
                    color:#a4a4a4;
                    text-align:center;
                }
            }
        }
    }
    #bottom{
        width: 1200px;
        height:70px ;
        position: relative;
        h1{
            float:left;
            a{
                display:block;
                width:173px;
                height:70px;
                background:url(../img/logo.png) no-repeat left center;
            }
        }
        ul{
            float:left;
            height:70px;
            margin-left:98px;
            li{
               float:left;
               height:70px;
               padding:0 11px 0 11px;
               a{
                   font-size:16px;
                   color:#3a3a3a;
                   padding:10px 0 10px 0;
                   line-height:70px;
                   &:hover{
                      border-bottom:2px solid #ca141d;
                      color:#ca141d; 
                   }
               } 
            }
        }
        input{
            float:right;
            width:330px;
            height:32px;
            margin-top:18px;
            border:1px solid #dddddd;
            border-radius:2px; 
            text-indent:10px;
        }
        i{
            display:block;
            width:18px;
            height:18px;
            background:url(../img/精灵图.png) no-repeat 0 -28px;
            position:absolute;
            right:13px;
            top:27px;
        }
        #pox{
            width:142px;
            height:32px;
            margin-top:18px;
            position:absolute;
            top:2px;
            right:176px;
            a{
                background:#f5f5f5;
                color:#aba4a4;
                font-size:12px;
                line-height:32px;
                padding:4px;
            }
            .ts{
                margin-right:8px;
            }
        }
    }
}

//-------------------------------------------------------#main
#main{
    width:1200px;
    height:782px;
    border:1px solid red;
    margin: 0 auto;
    position: relative;
    h2{
      width: 454px;
      height: 40px;
      overflow: hidden;
      a{
          float: left;
          color:#8F5902;
          margin-top:14px ;
          font-size: 12px;
          &:hover{color:#000;}
      }
      span{
         float: left;
         color:#000;
         margin-top:14px ;
         margin-left:12px;
         margin-right: 12px;
         font-size: 12px; 
      }
      p{
          font-size: 12px;
          margin-top:14px ;
          margin-left: 170px;
        }  
    }
    
    
    .phone{
        width:454px ;
        height: 451px;
        position: relative;
        img{width:454px;height: 451px;}
        .mask{
            width:454px;
            height:451px;
            background: rgba(255,255,255,0);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .float{
            width:150px;
            height: 150px;
            background: rgba(255,255,255,.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
            display:none;
        }
    }
    .glass{
        width:400px;
        height:400px;
        border:1px solid #C0C0C0;
        position: absolute;
        background: #fff;
        z-index:10;
        top: 40px;
        left:468px;
        overflow: hidden;
        display:none;
        img{position: absolute;z-index:15;}
    }
    .right{
        position: absolute;
        right: 0;
        top:40px;
        width:701px;
        height:741px ;
        border:1px solid blue;
        .top{
            width:565px;
            height: 93px;
            h2{
              width: 459px;
              height: 32px;
              color:#3a3a3a;
              line-height: 32px;
              font-size:16px;  
            }
            a{
                text-decoration: underline;
                color: red;
                font-size:12px;
                text-indent:8px;
            }
            span{ font-size:12px;}
        }
        .tu{
            width: 701px;
            height:176px;
            background: url(../img/tu1.jpg);
        }
    }
    .lb{
        width: 454px;
        height:105px ;
        border:1px solid yellow;
        position: absolute;
        top:491px;
        left: 0;
        overflow: hidden;
        ul{
           width:660px;
           height:68px ; 
           margin-top:17px;
           .leftbtn{
               width:30px;
               height:30px;
               border-radius:50%;
               border:1px solid #C0C0C0;
               text-align:center;
               line-height:30px;
               font-size:14px;
               color:#6C6C6C;
               position: absolute;
               left: 0;
               top: 37px;
            }
            .rightbtn{
               width:30px;
               height:30px;
               border-radius:50%;
               border:1px solid #C0C0C0;
               text-align:center;
               line-height:30px;
               font-size:14px;
               color:#6C6C6C;
               position: absolute;
               right: 0;
               top:37px;
            }
           li{
               float: left;
               width:66px;
               height: 66px;
               border: 1px solid red;
               margin-left: 10px;
           }
           .ts1{margin-left: 40px;}
        }
    }
}






